<!DOCTYPE html>
<html>
    <head>
        <title>Sanduni's blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">My Blog</a></h1>
        </header>

        <article>
            <time>published: 08.04.2021, 12:00</time>
            <h2><a href="">My first post</a></h2>
            <p>Django is an open-source web framework, written in Python, that follows the model-view-template architectural pattern. So Python is needed to be installed in your machine. Unfortunately, there was a significant update to Python several years ago that created a big split between Python versions namely Python 2 the legacy version and Python 3 the version in active development.</p>
        </article>

        <article>
            <time>published: 08.04.2021, 12:10</time>
            <h2><a href="">My second post</a></h2>
            <p>While building python projects, it’s a good practice to work in virtual environments to keep your project, and it’s dependency isolated on your machine. There is an entire article on the importance of virtual environments Check it out here: How To A Create Virtual Environment for Python.</p>
        </article>
    </body>
</html>